
.navbar-warning {
    background-color: rgb(255,215,0);
}

.jumbotron{
  background-color: rgb(255,215,0);
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.container{
  margin-left: 160px;

}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-dark{
  padding: 5px 20px;
  width: 220px;
  border-radius: 50px;
  background-color: #696969;
  border: 2px solid #A9A9A9;
  text-align: center;

}

.button-section{
  padding-left: 50px;
}
.input{
  padding: 5px 20px;
  width: 280px;
  border-radius: 50px;
  border: 2px solid #A9A9A9;
}

.close-btn{
  position: relative;
  right:120px;
  text-transform:uppercase;
  border-radius: 50px;
  border: 1px solid #A9A9A9;

}

.footer-container {
    background-color: black;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.footer-text {
  color: white;
}

a {
    color: #FFFFFF;
  }
